*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #aeceab;
  min-height: 100vh;
  
}
.containeiMain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:"center";
}
.main{
  /*border: solid red 1px;*/
  
  padding: 0rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column-reverse;
}
.classhover:hover{
  background-color: #eaebee;
  width: 100%;

}
.classhover:hover{
  background-color: #eaebee;
  width: 100%;
 
 
}
.aliementos {
  
  padding: 2rem;
  text-align: left;
  border-radius: 10px;
  background-color: #a5c9a3;
  margin-bottom: 0.6rem;
  max-width: 85%;
  width: 400px;
  overflow-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.aliementos:hover{
  background-color: #92c28f ;
}
.liAliemntos{
  font-weight:400;
  font-size: x-large;
}
.App-link {
  color: #61dafb;
}
.main{
  width: 100%;
  border: solid red 2px;
  display: flex;
  padding: 1rem;
}
ul{
  border-radius: 2px;
  background-color: #eaebee;
  width: 40%;
}

