.mainRotulo {
    top: 6rem;
    position: static;
    padding-top: 8rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: large;
}

.form-group input[type="submit"] {
    background-color:  #65a760;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
}
.form-group input:hover[type="submit"] {
    background-color: #287222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
   
}
.form-group input:hover:disabled[type="submit"] {
    background-color: #287222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
   
}
input:focus{
    outline: 2px solid #0a8bc7;
    border: none;
}

.buutonDelete{
    background-color:  rgba(223, 34, 34, 0.664);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-size: 17px;
    width: 300px;
    border: none;
}
.buutonDelete:hover{
    background-color:rgba(196, 31, 31, 0.664);
    border: none;
}